################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Snake
/Snake/x64/Release/Snake.tlog
/Snake/x64/Release/Snake.log
/Snake/x64/Release/Snake.exe.recipe
/x64/Release
/Snake/Release/Snake.tlog
/Snake/Release/Snake.exe.recipe
*.log
/Release
