################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/Snake
/Snake/Release
/Snake/x64/Release
/Release
/x64/Release
/Release
